<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/fonts.css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/confirm.css">
        <title>Get started with GitLab Observability</title>
    </head>
    <body>
        <section class="provision-container">
            <img src="/assets/images/empty_state.svg" alt="empty-state icon" />
            <h1 class="provision-title">Get started with GitLab Observability</h1>
            {{if .isOwner}}
                <div class="provision-action">
                    <p class="provision-subtitle">To start using GitLab Observability in {{.namespaceFullPath}} you must enable it.</p>
                    <a id="enableButton" href="{{.provisionEndpoint}}">Enable</a>
                </div>
            {{else}}
                <p>Ask a user with the Owner role in {{.namespaceFullPath}} to enable it.</p>
            {{end}}

        </section>
        <script src="/assets/js/event.js"></script>
        <script src="/assets/js/theme.js"></script>
        <script>
            const enableButton = document.querySelector("#enableButton");
            if(enableButton) {
                enableButton.href += `${window.location.search}`
            }
        </script>
    </body>
</html>
