<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/fonts.css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/provisioning.css">
        <title>Provisioning</title>
    </head>
    <body>
        <section class="provision-container">
            <img src="https://gitlab-org.gitlab.io/gitlab-ui/b863cda1bbc0d44f67a386bb4768b080.svg" alt="empty-state icon" />
            <h1 class="provision-title">Provisioning GitLab Observability for {{.namespaceFullPath}}</h1>
            <p class="provision-subtitle">Please wait. This page will refresh when ready.</p>
            <div id="progress">
                <div id="progressBar">2%</div>
            </div>
        </section>
        <script src="/assets/js/event.js"></script>
        <script src="/assets/js/theme.js"></script>
        <script src="/assets/js/reload.js"></script>

        <script>
        (function() {
            var elem = document.getElementById("progressBar");

            elem.style.width += {{.progressPercent}} + "%";
            elem.innerHTML = {{.progressPercent}}  + "%";
        })()
        </script>
    </body>
</html>
