body.light {
    background: #ffffff;
}
body.dark {
    background: #1f1e25;
}
.provision-container {
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.provision-subtitle {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
body.light .provision-title {
    color: #333238;
}
body.dark .provision-title {
    color: #ececef;
}
body.light .provision-subtitle {
    color: #333238;
}
body.dark .provision-subtitle {
    color: #ececef;
}
#enableButton {
    cursor: pointer;
    outline: 0;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    line-height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 0.25rem;
    background-color: #1f75cb;
    box-shadow: inset 0 0 0 1px #1068bf;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#enableButton:hover {
    box-shadow: inset 0 0 0 2px #064787, 0 2px 2px 0 rgb(0 0 0 / 8%);
    background: #1068bf;
}

.provision-action {
    display: flex;
    align-items: center;
    flex-direction: column;
}