body.light {
    background: #ffffff;
}

body.dark {
    background: #1f1e25;
}

.gl-alert-danger {
    background-color: #fcf1ef;
}

.gl-alert-not-dismissible {
    padding-right: 1rem;
}

.gl-alert {
    font-size: 0.875rem;
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gl-icon.s16 {
    width: 16px;
    height: 16px;
}

.gl-alert-danger .gl-alert-icon {
    color: #c91c00;
}

.gl-icon {
    fill: currentColor;
}

.gl-alert-icon-no-title {
    margin-top: 0.125rem;
}

.gl-alert-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

.dark .gl-alert-title,
.dark .gl-alert-body {
    color: #fff;
}

.gl-alert-title {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}